.home-container {
    display: flex;
    height: 100vh;
}

/* Main content (welcome message) */
.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 270px; /* Adjust for sidebar width */
    text-align: center;
    margin-top: -500px; /* Keeps the welcome message in the desired position */
}

.welcome-text {
    font-size: 35px;
    font-weight: bold;
    color: #333;
}
